.card {
  border-top: 100rem solid #4C760A;
  background-color: white;
  margin: 1rem;
 
  height: auto;
  width: 35rem;
  position: relative;
  border: 2px solid #d3d3d3;
  border-radius: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.plant-header {
  background-color: #4C760A;
  border-top: 1rem solid #4C760A;
  border-radius: 1rem;
  padding-bottom: .25rem;
  color: white;
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.plant-info {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  
  
}

.plant-image img {
  width: 15rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.plant-image {
  /* float: left; */

  margin-top: 1rem;
  padding: 1rem;
}

.plant-stats {
  float: right;
  /* margin: 0.1rem; */
  /* padding: 0.1rem; */
}

.plant-stats ul {
  list-style: none;
  width: 10rem;
  line-height: 1.5rem;
}

.plant-details {
  background-color: white;
  border-top: 1px dashed #4C760A;
  border-bottom: 1px dashed #4C760A;
  margin: 0rem;
  padding: 1rem;
}

.gardenbutton {
  display: grid;
  grid-template-columns: auto auto;
  /* text-align: center; */
  background-color:white;
  /* padding: 1rem; */
  margin-bottom: 1rem;
  margin-top: 1rem;
  /* border-bottom: 3rem solid #4C760A;
  border-radius: 1rem; */
  
}

/* .plant-footer {
  background-color:#4C760A;
} */

/* .right {
  float: right;
}

.left {
  float: left;
} */
