nav {
    background-color: #022D57;
    font-family: 'Cabin Sketch', cursive;
    position: fixed;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 3em;
    padding: 0.5rem;
  }

  
  .right {
    position: relative;
    float: right;
   
  }
  
  .left {
    position: relative;
    float: left;
    margin: .25rem;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  .btn {
    cursor: pointer;
  }
  
  .btn a:active {
  top: .1rem;
  }
  
  
  