.top {
  text-align: center;
  margin-top: 0rem;
}

.garden-heading {
  margin-bottom: 2rem;
  width: 40rem;
}

.garden-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 0rem;
}

.container-garden {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  margin-top: 0rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0rem;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}