body {
  /* background-image: url("https://images.unsplash.com/photo-1555803741-1ac759ac2f53?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
   */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: white;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  padding-top: 10rem;
}

section {
  padding: 10% 0 10% 0;
  height: auto;
  background-color: white;
}



nav, footer {
  padding: .5rem;
}

footer {
  font-size: 1.5rem;
}

/* .App {
  font-family: sans-serif;
  text-align: center;
  font-size: 0.75rem; 
}*/

/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  margin: auto;
}

.card {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem;
  height: auto;
  width: 30rem;
  position: relative;
  border: 1px solid #d3d3d3;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.plant-image img {
  width: 15rem;
}

.plant-image {
  float: left;
  margin: 0.1rem;
  padding: .1rem;
}

.plant-stats {
  float: right;
  margin: 0.1rem;
  padding: .1rem;
  
}

.plant-stats ul {
  list-style: none;
  width: 10rem;
  line-height: 1.5rem;
}

.plant-info {
  display: inline-block;
} */
